@import '../../variables';

.about {
    .hero {
        background-image: url('fire.jpg');
    }
    .story {
        background-color: $chalk-white;
        padding-top: 48px;
        h3 {
            margin-bottom: 48px;
            color: $charcoal;
            font-size: 3em;
            text-align: center;
            letter-spacing: 2px;
        }
        img {
            width: 100%;
            margin-bottom: 48px;
        }
        .info {
            margin-bottom: 128px;
            color: $charcoal;
            font-size: 1.2em;
            line-height: 2.5
        }
    }
}