@import '../../variables';

.about {
    .hero {
        background-image: url('fire.jpg');
    }
    .story {
        padding-top: 48px;
        img {
            width: 100%;
            margin-bottom: 48px;
        }
        .info {
            margin-bottom: 128px;
            font-size: 1.2em;
            line-height: 2.5
        }
    }
}