.about .hero {
  background-image: url("fire.jpg"); }

.about .story {
  padding-top: 48px; }
  .about .story img {
    width: 100%;
    margin-bottom: 48px; }
  .about .story .info {
    margin-bottom: 128px;
    font-size: 1.2em;
    line-height: 2.5; }
