@import '../../variables';

.faqs {
    h3 {
        color: $gold;
    }
    p {
        margin-bottom: 32px;
    }
    ul {
        margin-bottom: 32px;
    }
    li {
        margin-bottom: 16px;
    }
} 
