@import '../../variables';

.hero {
    height: 70vh;
    margin: 0 auto;
    padding: 102px 0;
    background-image: url('brisket-hero.jpg');
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    h1, h2 {
        text-shadow: -1px 1px 0px rgba(0,0,0,.5), -2px 2px 0px rgba(0,0,0,.5), -3px 3px 0px rgba(0,0,0,.5), -4px 4px 0px rgba(0,0,0,.5);
        text-transform: uppercase;
        text-align: center;
        color: $chalk-white;
    }
    h1 {
        font-size: 2em;
        margin: 0 8px;
    }
    h2 {
        font-size: 1.2em;
    }
    a {
        color: $chalk-white;
        text-decoration: none;
        &:visited {
            color: $chalk-white;
        }
        &:hover, &:focus {
            opacity: 0.8;
        }
    }
}

.panels {
    padding-top: 64px;
    margin-bottom: 64px;
    .panel {
        padding-bottom: 48px;
    }
    h3 {
        color: $chalk-white;
        font-size: 3em;
        text-align: center;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width: 48em) {
    .hero {
        height: 70vh;
        padding: 150px 0 60px;
        h1 {
            font-size: 5em;
        }
        h2 {
            font-size: 2em;
        }
    }
    .panels {
        margin-bottom: 128px;
    }
}
