.content-page {
  padding-top: 32px;
  color: #f3f2f2; }
  .content-page h1, .content-page h2 {
    margin-bottom: 32px;
    color: #f3f2f2;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .content-page h1 .header-border, .content-page h2 .header-border {
      flex-grow: 1;
      border-top: solid 1px #cdad00; }
    .content-page h1 .title, .content-page h2 .title {
      padding: 0 16px; }
  .content-page h3 {
    font-family: "Saira Extra Condensed Light", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase; }
  .content-page img {
    width: 100%; }
  .content-page a {
    color: #cdad00; }
    .content-page a:visited {
      color: #cdad00; }
    .content-page a:hover, .content-page a:focus {
      opacity: 0.8; }
  .content-page > .row {
    margin-bottom: 32px; }
  .content-page .how-to-eat {
    font-size: 1.3em;
    font-family: "Saira Extra Condensed Light", sans-serif;
    text-transform: uppercase;
    color: #cdad00; }
