
$black: #000;
$nav-link-color: #fff;
$nav-link-color-hover: rgba(255, 255, 255, 0.8);
$charcoal-bg: #1a1a1a;
$gold: #cdad00;
$chalk-white: #f3f2f2;

$header-font-family: 'Open Sans Bold', Helvetica, sans-serif;
$header-font-family-two: 'Saira Extra Condensed Bold', sans-serif;
$body-font-family: 'Open Sans', Helvetica, sans-serif;
$menu-font-stack: 'Saira Extra Condensed Light', sans-serif;