@import 'variables';

/* Flexboxgrid overrides */
.no-gutters {
    margin-left: 0;
    margin-right: 0;
    >[class^=col-] {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .container-fluid {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .no-gutters-xs {
        margin-left: 0;
        margin-right: 0;
        >[class^=col-xs] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .hide-xs {
        display: none!important;
    }
}

@media only screen and (min-width: 48em) {
    .no-gutters-sm {
        margin-left: 0;
        margin-right: 0;
        >[class^=col-sm] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .hide-sm {
        display: none!important;
    }
}


@media only screen and (min-width: 62em) {
    .no-gutters-md {
        margin-left: 0;
        margin-right: 0;
        >[class^=col-md] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .hide-md {
        display: none!important;
    }
}
  
@media only screen and (min-width: 75em) {
    .no-gutters-lg {
        margin-left: 0;
        margin-right: 0;
        >[class^=col-lg] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .hide-lg {
        display: none!important;
    }
}
/* End of Flexboxgrid overrides */

/* Import fonts */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Extra Condensed';
    src: url('fonts/SairaExtraCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Extra Condensed Bold';
    src: url('fonts/SairaExtraCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Saira Extra Condensed Light';
    src: url('fonts/SairaExtraCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* End of import fonts */

html {
    font-family: $body-font-family;
    font-size: 16px;
}

body {
    background-color: $black;
    padding: 16px;
}

main {
    background-color: $charcoal-bg;
    position: relative;
}

h1, h2 {
    font-family: $header-font-family;
    text-decoration: uppercase;
    margin-top: 0;
}

h3, h4 {
    font-family: $header-font-family-two;
    text-decoration: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}

h1, h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}
